@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: black;
}

.container{
  position: relative;
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

i{
  position: absolute;
  inset: 0;
  border: 2px solid white;
  transition: 0.5s;
}

.container i:nth-child(1){
  border-radius: 34% 66% 29% 71% / 45% 47% 53% 55%;
  animation: animate 6s linear infinite;
}

.container i:nth-child(2){
  border-radius: 38% 62% 43% 57% / 32% 41% 59% 68%;
  animation: animate 4s linear infinite;
}

.container i:nth-child(3){
  border-radius:75% 25% 61% 39% / 45% 47% 53% 55%;
  animation: animate2 10s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

@keyframes animate2 {
  0% {
    transform: rotate(360deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

.container:hover i {
  border: 6px solid var(--clr);
  filter: drop-shadow(0 0 20px var(--clr));
}

.login{
  position: absolute;
  width: 300px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

h2{
  font: 2rem;
  color: white;
}

.inputB{
  position: relative;
  width: 100%;
}

input{
  position: relative;
  width: 100%;
  padding: 12px 20px;
  background: transparent;
  border: 2px solid white;
  border-radius: 40px;
  font-size: 1.2rem;
  color: white;
  outline: none;
}

input::placeholder{
  color: rgba(255, 255, 255, 0.75);
}

input[type="submit"]{
  background: linear-gradient(45deg, #f10616, #fff172);
  border: none;
  cursor: pointer;
  font-size: 1.2rem;

}

.links{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px ;

}

a{
  color: white;
  text-decoration: none;
}